#title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#container{
 
    margin-bottom: 50px;
    
}

#teamimage{
    width: 100%;
    margin-top: 50px;
}

#ourDescription{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

img{
    width:100%;
}
#subteamTitle{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
