.centered {  
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  zoom: 1;
	filter: alpha(opacity=100);
	opacity: 0.8;
  width: 40%;
  background-color:#3d5a80;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
p {
  margin-left:4em;
  vertical-align: middle;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size:250%;
  position: absolute;
  color:#e0fbfc;
}
h2{
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  position: absolute;
  color:#e0fbfc;
}
.landing-robot {
  opacity: 0;
  left: 8vw;
  overflow: hidden;
  animation: navLinkFade 0.5s ease forwards 0.5s;
  height: 80%;
}
