@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.flyer-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.pdf-link-container {
  display: flex;
  justify-content: center;
}

.pdf-link {
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5em;
}

.pdf-download {
  color: #009dff;
  text-decoration: none;
}

.pdf-download:hover {
  color: #048fe6;
}

.bottom {
  padding-bottom: 1em;
}