@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

$mobile-small: 530px;
$mobile: 768px;
$tablet: 1024px;
$desktop-small: 1250px;

@mixin mobile-small {
  @media (max-width: $mobile-small) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile-small) and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: $tablet) and (max-width: $desktop-small) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-small) {
    @content;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  pointer-events: none;
  position: relative;

  @include mobile-small {
    min-height: 41.5vw;
  }

  @include mobile {
    min-height: 44vw;
  }

  @include tablet {
    min-height: 45vw;
  }

  @include desktop-small {
    min-height: 46vw;
  }

  @include desktop {
    min-height: 47.5vw;
  }
}

.landing-header {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  margin-left: 0.4em;
  padding-top: 0.3em;

  #potentia {
    padding-left: 0.4em;
    z-index: 999 !important;
    position: relative;
  }

  #robotics {
    position: relative;
    top: -0.3em;
    padding-left: 1.35em;
    z-index: 999 !important;
  }
}

.landing-robot {
  position: absolute;
  opacity: 1;
  // left: 40vw;
  overflow: hidden;
  // animation: navLinkFade 0.5s ease forwards 0.5s;
  // max-height: 87vh;
  width: 100%;
}

@keyframes robotFlyIn {
  from {
    transform: translateX(150vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.highlight-gray {
  background-color: rgb(235, 235, 235);
}

.landing-subheader {
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  position: absolute;
  margin-top: 55vh;
  // margin-right: 10%;
  // right: 0;
  margin-left: 4em;
  z-index: 999 !important;
  width: 45%;

  @include desktop-small {
    margin-top: 40vh;
  }

  @include tablet {
    margin-top: 33vh;
  }

  @include mobile {
    margin-top: 25vh;
  }

  @include mobile-small {
    margin-top: 17vh;
  }

  a {
    color: inherit;
    text-decoration: none;
    pointer-events: all;
    &:hover {
      text-decoration: underline;
    }
  }
}

.intro-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
  margin-top: 3em;
  // border-style: solid;

  // background: rgb(235, 235, 235);
}

.intro-content {
  margin: 0 auto;
  width: 47%;
  margin-left: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background: rgb(243, 243, 243);

}

.mission-statement {
  margin: 0 auto;
  width: 47%;
  margin-right: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background: rgb(233, 247, 253);

}

.intro-space {
  background: white;
}

.intro-header {
  // margin-left: 10vw;
  text-align: center;
  font-size: 2.6vw;
  padding-bottom: 1vw;
  font-family: Poppins, sans-serif;
}

.intro-text {
  font-size: 1.3vw;
  line-height: 1.75em;
}

.text-blue {
  color: #009dff;
}

.picture-redirect-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
  // border-style: solid;

  // background: rgb(235, 235, 235);
}

.about-us-content {
  margin: 0 auto;
  width: 47%;
  margin-left: 2vw;
  // padding-left: 2vw;
  // padding-right: 2vw;
  // padding-top: 1vw;
  padding-bottom: 1vw;
  background: rgb(233, 253, 235);
}

.about-us-link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.about-us-link {
  text-decoration: none;
  color: #009dff;
  font-family: Poppins, sans-serif;
  font-size: 1.4vw;
}

.about-us-link:hover {
  text-decoration: none;
  color: #048fe6;
}

.meet-olympian-content {
  margin: 0 auto;
  width: 47%;
  margin-right: 2vw;
  padding-bottom: 1vw;
  background: rgb(255, 237, 248);
}

.team-picture {
  max-width: 100%;
}

.olympian-waving {
  max-width: 100%;
}