.glow {
  text-align: center;
  font-size: 3em;
  //background: linear-gradient(to right, #ee6c4d, #3d5a80, #293241);
}

.sponsor-intro-wrapper {
  margin-top: 3em;
}

.sponsor-tier-list {
  margin-top: 2em;
}

.tier-detail {
  margin-bottom: 2em;
}